@import "fonts.css";
@import "global.css";

@import "header.css";
@import "settings.css";
@import "content.css";

.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background: var(--primary);
    transition: opacity 500ms;

    z-index: 5000;
}

.loading.ready {
    opacity: 0;
    pointer-events: none;
}

.loading-text {
    --loading-height: calc(48px * 2);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    height: var(--loading-height);
    max-width: calc(100% - 64px);

    color: #fff;
    font-size: 48px;

    text-align: center;

    line-height: var(--loading-height);
}

.loading-text .material-icons {
    font-size: 36px;
}

.behind-text {
    position: absolute;
    top: 128px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

    display: block;
    width: 224px;
    color: #aaa;
    font-size: 11px;

    z-index: -1
}