.settings-button {
    position: fixed;
    top: 0;
    right: 0;

    height: var(--header-large-height);
    width: var(--header-large-height);

    line-height: var(--header-large-height);
    text-align: center;

    color: var(--header-font-color);

    /* I need to reset button settings :| */
    border: none;
    background: none;

    z-index: 999;
}

.settings-shade {
    position: fixed;
    top: 0;

    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, 0.3);
    opacity: 0;

    pointer-events: none;
    z-index: 1001;
}

.settings-content {
    position: fixed;
    bottom: -224px;

    height: 224px;
    width: 100%;

    background: #fff;

    z-index: 1002;
}

.settings-content, .settings-shade {
    transition: all 200ms;
}

.settings.open .settings-shade {
    opacity: 1;
    pointer-events: auto;
}

.settings.open .settings-content {
    bottom: 0;
}

/*

        Input Styles

*/

.settings .property-title {
    display: block;

    margin: 8px 8px 0;

    font-size: 10pt;
    color: #666;
}

.settings .folder-input {
    position: relative;

    margin: 8px;

    flex: 1;
}

.settings input {
    height: 32px;
    width: 100%;

    padding: 0 8px;
    background: #f1f1f1;

    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 2px;

    transition: border-bottom-color 200ms, box-shadow 200ms;
}

.settings input:focus {
    border-bottom-color: var(--primary-dark);

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.folder-input > .folder-button {
    position: absolute;
    top: 2px;
    right: 8px;

    color: #FFD54F;
    opacity: 0;

    cursor: pointer;

    transition: opacity 200ms;
}

.folder-input:hover .folder-button {
    opacity: 0.8;
}

.settings button {
    height: 32px;

    padding: 0 16px;

    background: var(--primary);

    font-size: 12px;

    outline: none;
    border: none;
    border-radius: 2px;

    text-transform: uppercase;

    color: white;
    align-self: center;
    margin: 8px;

    font-family: 'Roboto', sans-serif;

    transition: box-shadow 200ms;
}

.settings button:hover, .settings button:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.settings button:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}